body{
  padding: 0px!important;
  margin: 0px!important;

}

h1, p{
    font-family: 'Roboto', sans-serif;
}
.vision li{
    font-family: 'Roboto', sans-serif;
}

.roboto-ul li{
  font-family: 'Roboto', sans-serif;
}
.cbsc-logo{
  width: auto;
  margin-top: 5px;
  margin-bottom: 3px;
  height:110px;
}

.top-nav{
  background-color: #34d8a3;
  /* background-color: 	#FDCD00;   /yellow   */
}

.nav-item{
  margin-right: 8px;
}


.top-social p{
  padding-bottom: 5px;
  margin-bottom: 0px;
}


.heading-big{
  font-size: 3.2rem;
  padding-top: 0px;
  font-weight: bold;
  color: #F52710;
}

.top-sm-head{
  padding-top: 20px;
  margin-bottom: 0px;
  color: #F52710;
  font-weight: bold;
  font-size: 1.2rem.
}

.top-social{
  padding-top: 5px;
  background-color: #000;
}

.slider-img{
  width: 100%;
  height: 450px;
}



.Announcements{
  padding-top: 40px;
  padding-bottom: 20px;
}

.Announcements p{
margin-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 5px;
padding-top: 5px;

}

.tab-right{
  border: 1px solid #9900cc;
}

.panel-default{
    border: 1px solid #9900cc;
}

.tab-left{
  border: 1px solid #9900cc;

}

.announ-head{
  font-size: 18px;
  background-color: #DAF7A6;
  padding: 10px 8px;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}


.news-item
{
    padding:4px 4px;
    margin: 0px 20px;
    border-bottom:1px dotted #555;
}

a:hover{
  text-decoration: none;
}

.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.round-sec{
padding-top: 50px;
padding-bottom: 30px;
}


.round-img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1.5px solid #021a40;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

.round-img:hover{
  transition-duration: 0.3s;
  transform: translateY(-5px);
}

.page-heading{
  font-size: 2.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-blue{
  background-color: #6eaef3!important;
}
.bg-nav{
  background-color: #2e353e!important;
  /* background-color: rgba(46, 53, 62, 1)!important; */
}
.active .nav-link{
color: #fff!important;
}
.nav-link{
  color:#ece1e1!important;
}

.gallery-page h1{
  margin-bottom: 1.5rem;
}

.gallery-page h1:after {
    border-bottom: 4px solid #9900cc;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 12%;
    bottom: 0%;
    margin: 0 auto;
}

footer{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2e353e!important
}

footer p{
  font-size: 14px;
}

.footer-copy{
  background-color: #050505;
}

.txt-red{
  color: #F52710 !important;
}

.text-yellow{
  color: yellow !important;
}

footer h5:after {
    border-bottom: 2px solid yellow;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 14%;
    top: 44px;
    margin-left: 15px;
    /* margin: 0 auto; */
}

.contact-page-top{
  padding-top: 20px;
  padding-bottom: 20px;
}

.about{
  padding-top: 30px;
  padding-bottom: 40px;
}
.about-image{
/* border: 5px solid rgba(28,110,164,0.87); */
border-radius: 0px;
}
.text-div{
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-div p{
  font-family: 'Bitter', serif;
}
.font-bitter{
  font-family: 'Bitter', serif;
}

.gallery-page{
  padding-top: 30px;
  padding-bottom: 30px;
}

.gallery-img{
  width: 100%;
  margin-bottom: 30px;
}

.ih-item.square {
    position: relative;
    width: auto !important;
    height: auto !important;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.w-90{
  width: 100px !important;
}

.vision  li{
  list-style-type: none;
}

.vision li::before {
  content: "\273D ";
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-right: 8px;
}
.staff-div .card{
  border: none!important;
  margin-bottom: 20px;
}

.staff-div .card-img-top {
  width: 180px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 400px) {
  .slider-img{
    width: 100%;
    height: 300px;
  }

  .cbsc-logo{
    width: 55px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 8px;
    height:auto;
  }


  .top-sm-head{
    padding-top: 20px;
    margin-bottom: 0px;
    color: #F52710;
    font-weight: bold;
    font-size: 12px;
  }


  .heading-big{
    font-size: 19px;
    padding-top: 0px;
    font-weight: bold;
    color: #F52710;
  }
.navbar-toggler{
  border-color: #fff!important;
}


.container, .row{
  padding: 0px!important;
  margin: 0px!important;
}

ul{
  padding-right: 20px!important;
  padding-left: 30px!important;
}

.about ul li{
  text-align: justify!important;
}

.about h3{
  width: 100%;
  text-align: center;
}

.text-div{
padding-left: 15px;
padding-right: 15px;
}

.page-heading{
  font-size: 1.8rem;
  padding-top: 10px;
  padding-bottom: 0px;
}

.teaching-page-logo{
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gallery-page h1:after {
    border-bottom: 4px solid #9900cc;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    bottom: -10%;
    margin: 0 auto;
}
#con-text h4{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
  }

#con-text .center{
  text-align: center;
}

}
